/* This css file is to override bootstarp css
********************************************************* /
* Theme Name: Mountain Bike
* Theme URI:  http://themeforest.ne/user/codepassenger
* Author: CodePassenger
* Author URI: http://CodePassenger.com
* Description:  Mountain Bike - Extreme Sport Club Template
* Version: 1.0.0
* License: GNU General Public License v2 or later
* License URI: http://www.gnu.org/licenses/gpl-2.0.html
* Tags: bicycle, sport, bike, club, mountain, html5, template
*********************************************************** /


/*
|----------------------------------------------------------------------------
| CSS INDEX
|----------------------------------------------------------------------------

1. General Styles

2. Header Styles

3. About Styles

4. Product Catagorey Styles

5. Gallary Styles

6. breadccrumb Styles

7. Blog Styles

8. Sidebar Styles

9. Pagination Styles

10. Single Page Styles

11. Partnar Styles

12. Footer Styles

13. Icon Styles

	
*/
/*-------------------------
	1 - General Styles
-------------------------*/
html, html a {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

body {
    font-family: "Noto Sans", sans-serif;
    font-size: 13px;
    line-height: 100%;
    background: #fff;
    color: #656565;
}

p {
    line-height: 24px;
    font-size: 13px;
    margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Noto Sans", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 100%;
}

h1 {
    font-size: 65px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 13px;
}

span, i, strong {
    display: inline-block;
}

img {
    object-fit: cover;
    display: inline-block;
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

a:hover, a:focus {
    text-decoration: none;
    color: #9d9d9d;
    outline: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ps-rel {
    position: relative;
}

.overlay-common {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.section-padding {
    padding: 150px 0;
}

.heading-text-center {
    text-align: center;
}

.heading-text-left {
    text-align: left;
}

.m-bottom-30 {
    margin-bottom: 30px;
}

.m-top-70 {
    margin-top: 70px;
}

.background-property, .sub-header {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.m-top-0 {
    margin-top: 0 !important;
}

.btn-common {
    line-height: 36px;
    height: 36px;
    color: #fff;
    padding-right: 28px;
    padding-left: 28px;
    background: #3598db;
}

.btn-common:hover, .btn-common:focus {
    color: #fff;
}

.section-title-area h3 {
    margin-bottom: 20px;
    font-weight: 700;
    color: #727376;
}

.section-title-area p {
    margin-top: 20px;
    font-weight: 400;
    line-height: 22px;
    color: #656565;
}

.section-title-area.style-2 p {
    color: #656565;
}

.section-padding {
    padding: 140px 0;
}

/*-------------------------
	1 - General Styles
-------------------------*/

#slider_one .item img {
    display: block;
    width: 100%;
    height: auto;
}

#slider_one .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 38px;
}

#slider_one .owl-nav {
    margin-top: 0px;
}

#slider_one .owl-controls .owl-nav .owl-prev,
#slider_one .owl-controls .owl-nav .owl-next {
    margin: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    height: 45px;
    width: 45px;
    font-size: 25px;
    line-height: 30px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid #fff;
    -webkit-tap-highlight-color: transparent;
    transform: translateY(-50%);
    transition: all 0.3s ease-in;
}

#slider_one .owl-controls .owl-nav .owl-prev:hover, #slider_one .owl-controls .owl-nav .owl-prev:focus,
#slider_one .owl-controls .owl-nav .owl-next:hover,
#slider_one .owl-controls .owl-nav .owl-next:focus {
    border-color: transparent;
    background: #3598db;
}

#slider_one .owl-controls .owl-nav .owl-prev {
    left: 150px;
}

#slider_one .owl-controls .owl-nav .owl-next {
    right: 150px;
}

.slider-content {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    width: 100%;
}

.slider-content h2 {
    color: #fff;
    font-weight: 600;
    line-height: 55px;
    letter-spacing: 0.2px;
}

.slider-content h3 {
    color: #fff;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0.984px;
    margin-top: 20px;
}

.slider-content .btn-common {
    margin-top: 30px;
}

#slider_one.owl-theme .owl-dots .owl-dot span {
    width: 13px;
    height: 13px;
    border: 4px solid #fff;
    margin: 5px 7px;
    background: none;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

#slider_one.owl-theme .owl-dots .owl-dot.active span,
#slider_one .owl-theme .owl-dots .owl-dot:hover span {
    background: url(../../images/misc/11.png) no-repeat center center;
    border: none;
    height: 15px;
    width: 35px;
}

/*-------------------------
	2. Header Styles
-------------------------*/
.navbar-default.navbar-fixed-top {
    background: none;
    box-shadow: none;
    border: none;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease-in;
}

.navbar-default.navbar-fixed-top .navbar-nav > .active > a {
    background: none;
    box-shadow: none;
    color: #fff;
}

.navbar-default.navbar-fixed-top .navbar-nav > .active > a:after {
    width: 100%;
    background: #3598db;
}

.navbar-default.navbar-fixed-top .navbar-nav > li > a {
    text-shadow: none;
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.36px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    font-family: "Noto Sans", sans-serif;
    transition: all 0.3s ease-in;
    text-transform: uppercase;
}

.navbar-default.navbar-fixed-top .navbar-nav > li > a:after {
    content: '';
    display: block;
    height: 4px;
    width: 0;
    margin-top: 5px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.navbar-default.navbar-fixed-top .navbar-nav > li > a:hover:after {
    width: 100%;
    background: #3598db;
}

.navbar-default.navbar-fixed-top .navbar-brand {
    padding: 8px 15px;
}

.navbar-default.navbar-fixed-top.fixed-menu {
    background: rgba(47, 47, 45, 0.89);
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid transparent;
}

.navbar-default .navbar-brand {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
}

.navbar-default .navbar-brand img {
    margin-right: 10px;
}

/*---------- child-menu --------*/
.navbar-default .has-sub-menu {
    position: relative;
}

.navbar-default .has-sub-menu .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    padding-left: 0;
    list-style: none;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
    transition: all 0.4s ease-in-out;
}

.navbar-default .has-sub-menu:hover > .sub-menu {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

.navbar-default .sub-menu li {
    width: 150px;
    background: rgba(47, 47, 45, 0.69);
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar-default .sub-menu a {
    display: inline-block;
    width: 100%;
    color: #fff;
    font-size: 11px;
    padding: 12px 20px;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar-default .sub-menu a:hover {
    background: rgba(0, 0, 0, 0.1);
}

.navbar-default .sub-menu .has-sub-menu:before {
    color: #fff;
    position: absolute;
    content: "\f105";
    font-family: "FontAwesome";
    top: 14px;
    right: 22px;
}

.navbar-default .has-sub-menu:hover:before {
    color: #3598db;
}

.navbar-default .sub-menu .sub-menu {
    left: 100%;
    top: 0;
}

.navbar-nav .has-sub-menu button {
    display: none;
}

/*-------------------------
	3. About Styles
-------------------------*/

.about-section .section-title-area {
    margin-bottom: 65px;
}

.about-section {
    background: url(/img/mountain.png) center center;
}

.about-content {
    text-align: center;
    padding: 0 80px;
}

.about-content:hover .icon-circled {
    border-color: #3598db;
}

.icon-circled {
    height: 85px;
    width: 85px;
    margin: 0 auto 30px auto;
    line-height: 80px;
    border: 1px solid #bdbfc1;
    border-radius: 50%;
    text-align: center;
    transition: all 0.3s ease-in;
    padding:15px 0 0 4px;
}

.about-heading {
    padding-bottom: 25px;
    margin-bottom: 20px;
    position: relative;
}

.about-heading h6 {
    color: #3a3a3a;
    font-weight: 300;
}

.about-heading:before {
    content: '';
    position: absolute;
    height: 2px;
    width: 30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    background: #3598db;
}

.about-content p {
    line-height: 22px;
    font-weight: 400;
    color: #656565;
}

/*-------------------------------
	4. Product Catagorey Styles
---------------------------------*/
.product-catagory {
    position: relative;
}

.product-catagory .catagory-outer-img {
    position: absolute;
    bottom: 0;
    right: 45px;
}

.product-details-area {
    margin-top: 155px;
}

.product-catagory-content .tab-pane {
    padding: 90px 155px 90px 80px;
}

.product-catagory-content .tab-pane h5 {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.135px;
    color: #3598db;
    margin-bottom: 30px;
}

.product-catagory-content .tab-pane h3 {
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.216px;
    color: #727376;
    margin-bottom: 35px;
}

.product-catagory-content .tab-pane p {
    line-height: 28px;
    font-weight: 400;
}

.product-catagory-nav.nav.nav-pills {
    position: relative;
    margin-top: 95px;
}

.product-catagory-nav.nav.nav-pills:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background: #bdbfc1;
    top: 0;
}

.product-catagory-nav.nav.nav-pills li > a {
    padding: 35px 30px 0px 30px;
    position: relative;
}

.product-catagory-nav.nav.nav-pills li > a:before {
    position: absolute;
    content: url("../../images/misc/7.jpg");
    top: -6px;
}

.product-catagory-nav.nav.nav-pills li.active > a:before {
    content: url("../../images/misc/6.jpg");
}

.product-catagory-nav.nav.nav-pills li.first a {
    padding-left: 0;
}

.product-catagory-nav.nav.nav-pills li.last a {
    padding-right: 0;
}

.product-catagory-nav.nav.nav-pills li > a:hover, .product-catagory-nav.nav.nav-pills li > a:focus, .product-catagory-nav.nav.nav-pills li.active a {
    background: none;
}

.product-catagory-nav.nav.nav-pills li > a:focus, .product-catagory-nav.nav.nav-pills li.active a {
    color: #3598db;
}

/*---------------------------------
		5. Gallary Styles
---------------------------------*/
.gallery-masonry {
    padding-top: 150px;
}

#gallary_grid .grid-item {
    width: 25%;
    cursor: pointer;
    margin-bottom: -10px;
}

#gallary_grid .grid-item.W2 {
    width: 50%;
}

#gallary_grid .gallary-item-content {
    position: absolute;
    bottom: 50px;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease-in;
}

#gallary_grid .gallery-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease-in;
}

#gallary_grid .grid-item:hover .gallery-overlay {
    opacity: 1;
}

.gallary-item-content h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 20px;
}

.gallary-item-content h4 a {
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    margin-top: 30px;
}

.gallary-item-content h3, .gallary-item-content h4 a, .gallary-item-content h4 span {
    color: #fff;
}

.gallary-item-content span {
    margin: 0 5px;
}

#gallary_grid .grid-item:hover .gallary-item-content {
    transform: translateX(30px);
    opacity: 1;
}

.gallary-filter-button {
    margin-top: 45px;
    margin-bottom: 40px;
}

.gallary-filter-button button, .gallary-filter-button a.button {
    background: none;
    border: none;
    padding: 0 20px;
    color: #727376;
    font-size: 13px;
    line-height: 22px;
    font-family: "Open Sans", sans-serif;
    transition: all 0.3s ease-in;
}

.gallary-filter-button button:focus, .gallary-filter-button button:active,
.gallary-filter-button a.button:focus, .gallary-filter-button a.button:active{
    outline: 0;
}

.gallary-filter-button button:hover, .gallary-filter-button a.button:hover {
    color: #3598db;
}

.gallary-filter-button button.active, .gallary-filter-button a.button.active {
    color: #3598db;
}

/*------------------------------------------
		6. breadccrumb Styles
-------------------------------------------*/
.sub-header {
    padding: 200px 0 180px 0;
    background-image: url(../../images/bg/3.jpg);
    position: relative;
}

.sub-header .breadcrumb {
    padding: 0;
    background: none;
    text-align: center;
}

.sub-header .breadcrumb h2 {
    font-size: 65px;
    font-weight: 700;
    line-height: 120px;
    color: #fff;
}

.sub-header .breadcrumb span {
    color: #fff;
}

.sub-header .breadcrumb span a {
    color: #a8a8a8;
}

/*------------------------------------------
		7. Blog Styles
-------------------------------------------*/
.blog-section {
    background: #f4f4f4;
}

.blog-content-area {
    margin-top: 80px;
}

.blog-thumb {
    overfloe: hidden;
}

.blog-thumb .overlay-common {
    opacity: 0;
    transition: all 0.3s ease-in;
}

.blog-thumb .icon-positiond {
    position: absolute;
    top: 60%;
    translateY: -50%;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease-in;
    color: #fff;
}

.blog-thumb iframe {
    width: 100%;
    height: 370px;
    frameborder: no;
    scrolling: no;
}

.blog-thumb:hover .overlay-common {
    opacity: 1;
}

.blog-thumb:hover .icon-positiond {
    top: 45%;
    opacity: 1;
}

.post-single.style-one .post-title {
    font-weight: 700;
    line-height: 24px;
    color: #727376;
    margin-bottom: 25px;
}

.post-single.style-one .post-title:hover a {
    color: #727376;
}

.blog-content {
    padding: 40px 40px 50px 25px;
    background: #fff;
}

.post-meta-data span {
    position: relative;
    font-size: 11px;
    font-weight: 400;
    padding-right: 10px;
    margin-right: 10px;
    letter-spacing: 0.275px;
    font-family: "Noto Sans", sans-serif;
}

.post-meta-data span.last {
    padding-right: 0px;
    margin-right: 0px;
}

/*.post-meta-data span:after {
     content: '';
     position: absolute;
     right: 0;
     bottom: 2px;
     height: 3px;
     width: 3px;
     background: #a3a3a3;
     border-radius: 50%;
 }*/

.post-meta-data span.last:after {
    content: none;
}

.blog-footer .post-btn, .blog-footer .post-meta-data {
    display: inline-block;
}

.blog-footer .post-meta-data {
    float: left;
}

.blog-footer .post-btn {
    float: right;
}

.more-btn {
    color: #3598db;
}

.more-btn:hover a {
    color: #3598db;
}

.post-single.style-two {
    margin-bottom: 50px;
}

.post-single.style-two .post-title a {
    font-weight: 700;
    line-height: 30px;
    color: #2e2e2e;
    margin-bottom: 25px;
}

.post-single.style-two .post-title a:hover,
.post-single.style-two .post-title a:active,
.post-single.style-two .post-title a:focus {
    color: #2e2e2e;
}

.post-single.style-two .blog-content {
    padding: 50px 0;
}

.post-single.style-two .post-meta-data {
    margin-bottom: 20px;
}

/*------------------------------------------
		8. Sidebar Styles
-------------------------------------------*/
.widget {
    margin-bottom: 100px;
}

.widget.last {
    margin-bottom: 0px;
}

.widget-title h5 {
    font-size: 15px;
    font-weight: 400;
    color: #2d2d2d;
    margin-bottom: 50px;
    letter-spacing: 0.135px;
}

.custom_widget_search .search-form {
    font-size: 0;
}

.custom_widget_search .search-form input[type="text"] {
    height: 50px;
    width: 80%;
    padding-left: 25px;
    background: #e6e7e9;
    border: none;
    font-size: 12px;
    box-shadow: none;
}

.custom_widget_search .search-form input[type="text"]:focus,
.custom_widget_search .search-form input[type="text"]:active,
.custom_widget_search .search-form input[type="submit"]:focus,
.custom_widget_search .search-form input[type="submit"]:active {
    outline: 0;
    box-shadow: none;
}

.custom_widget_search .search-form input[type="submit"] {
    height: 50px;
    width: 50px;
    border: none;
    margin-top: -1px;
    font-size: 13px;
    background-color: #3598db;
    background-image: url(../../images/misc/10.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.widget_categories ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.widget_categories ul li {
    line-height: 40px;
    font-size: 13px;
    border-bottom: 1px solid #e1e1e1;
}

.widget_categories ul li:hover a,
.widget_categories ul li:hover span {
    color: #3598db;
}

.widget_categories ul li:last-child {
    border-bottom: none;
}

.widget_categories ul li a {
    float: left;
    color: #878787;
    transition: all 0.3s ease-in;
}

.widget_categories ul li span {
    float: right;
    color: #878787;
    transition: all 0.3s ease-in;
}

.widget_recent_post ul li .widget-img {
    float: left;
}

.widget_recent_post ul li {
    display: table;
    margin-bottom: 20px;
}

.widget_recent_post .widget-content {
    padding-left: 15px;
    display: table-cell;
    vertical-align: middle;
}

.widget_recent_post .widget-content h5 a {
    font-size: 16px;
    line-height: 24px;
    color: #2d2d2d;
}

.widget_recent_post .widget-content span {
    font-size: 11px;
    color: #a1a3a5;
}

.widget_popular_tag ul {
    font-size: 0;
}

.widget_popular_tag ul li {
    height: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
    background: #dddddd;
    display: inline-block;
    transition: all 0.3s ease-in;
}

.widget_popular_tag ul li:hover {
    background: #3598db;
}

.widget_popular_tag ul li:hover a {
    color: #fff;
}

.widget_popular_tag ul li a {
    padding-left: 13px;
    padding-right: 13px;
    color: #a1a3a5;
    font-size: 11px;
    line-height: 30px;
    transition: all 0.3s ease-in;
}

/*------------------------------------------
		9. Pagination Styles
-------------------------------------------*/
.pagination-area .pagination {
    width: 100%;
    margin: 0;
}

.pagination-area .pagination .nav-links .page-numbers {
    font-size: 12px;
    line-height: 30px;
    font-family: "Noto Sans", sans-serif;
}

.pagination-area .pagination .nav-links .prev.page-numbers {
    float: left;
}

.pagination-area .pagination .nav-links .prev.page-numbers span {
    padding: 13px 0 13px 35px;
}

.pagination-area .pagination .nav-links .next.page-numbers {
    float: right;
}

.pagination-area .pagination .nav-links .next.page-numbers span {
    padding: 13px 35px 13px 0;
}

.pagination-area .pagination .nav-links .next.page-numbers,
.pagination-area .pagination .nav-links .prev.page-numbers {
    color: #3598db;
    margin: 0;
    border-bottom: none !important;
}

.pagination-area .pagination .nav-links .next.page-numbers span,
.pagination-area .pagination .nav-links .prev.page-numbers span {
    background: #f2f2f2;
    transition: all 0.3s ease-in;
}

.pagination-area .pagination .nav-links .next.page-numbers:hover span,
.pagination-area .pagination .nav-links .prev.page-numbers:hover span {
    background: #eeeeee;
}

.pagination-area .pagination .nav-links .page-numbers {
    padding: 0 10px;
    color: #a7a7a7;
    transition: all 0.3s ease-in;
}

.pagination-area .pagination .nav-links .page-numbers:hover {
    color: #000000;
    border-bottom: 3px solid #3598db;
}

.pagination-area .pagination .nav-links .page-numbers.current {
    color: #000000;
    border-bottom: 3px solid #3598db;
}

/*-----------------------------------
	10. Single Page Styles
-------------------------------------*/
.single-page-padding {
    padding: 95px 0 150px 0;
}

.single-blog-post .post-entry {
    padding-top: 50px;
}

.single-blog-post .custom-highlighter-one {
    font-size: 13px;
    line-height: 28px;
    font-weight: 600;
    color: #545454;
}

.single-blog-post .custom-highlighter-two {
    font-weight: 300;
}

.single-blog-post p {
    font-size: 13px;
    line-height: 28px;
    color: #818181;
}

.single-blog-post ul {
    margin-left: 40px;
}

.single-blog-post ul li {
    font-size: 13px;
    line-height: 28px;
    color: #818181;
    font-weight: 300;
}

.single-blog-post ul li span {
    margin-right: 10px;
}

.single-blog-post blockquote {
    padding: 40px 40px 50px 55px;
    background: #f6f6f6;
    margin-top: 60px;
    margin-bottom: 70px;
    border-left: 8px solid #727070;
}

.single-blog-post blockquote p {
    font-size: 15px;
    font-style: italic;
    line-height: 28px;
    letter-spacing: 0.135px;
    color: #818181;
    position: relative;
}

.single-blog-post blockquote p:after {
    content: "\f10e";
    position: absolute;
    right: 0px;
    top: 15px;
    font-size: 72px;
    color: rgba(129, 129, 129, 0.15);
    font-family: FontAwesome;
}

.post-share-area {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.post-share-area .widget_popular_tag > h6,
.post-share-area .share-social-icon > h6,
.post-share-area .widget_popular_tag ul,
.post-share-area .share-social-icon ul {
    display: inline-block;
}

.post-share-area .widget_popular_tag > h6,
.post-share-area .share-social-icon > h6 {
    font-size: 12px;
    color: #000000;
    margin-right: 5px;
    letter-spacing: 0.135px;
}

.post-share-area .share-social-icon {
    margin-top: 20px;
}

.post-share-area .share-social-icon ul li {
    margin: 0 7px;
    font-size: 13px;
    color: #000000;
    display: inline-block;
}

.single-post-author {
    background: #f6f6f6;
    margin-top: 35px;
}

.single-post-author .post-author-thumb {
    float: left;
}

.single-post-author .post-author-info {
    padding: 50px 50px 50px 220px;
}

.single-post-author .post-author-info h5 {
    color: #2e2e2e;
}

.single-post-author .post-author-info p {
    margin-bottom: 0;
    margin-top: 30px;
    color: #787878;
    font-family: "Noto Sans", sans-serif;
}

.related-post {
    margin-top: 35px;
    padding-top: 40px;
    border-top: 1px solid #e1e1e1;
}

.related-post .post-single.style-two .blog-content {
    padding: 30px 0;
}

.related-post-title {
    margin-bottom: 35px;
    font-size: 15px;
    color: #2d2d2d;
    latter-spacing: 0.135px;
}

.comment-list ul li {
    margin-bottom: 45px;
}

.comment-list ul li:last-child {
    margin-bottom: 0;
}

.comment-list .media-left {
    float: left;
    padding-right: 30px;
}

.comment-list .media-body {
    padding: 30px 40px 30px 40px;
    background: #f6f6f6;
}

.comment-list .media-body .comment-info h5 a {
    font-size: 14px;
    color: #000000;
    margin-bottom: 30px;
}

.comment-list .media-body .comment-info p {
    margin-bottom: 40px;
}

.comment-list .media-body .comment-details .divider {
    margin: 0 7px;
}

.comment-form-area {
    margin-top: 150px;
}

.comment-form-area .form-heading h4 {
    font-size: 15px;
    color: #2d2d2d;
    margin-bottom: 5px;
}

.comment-form-area .form-heading p {
    font-size: 13px;
    color: #858585;
}

.comment-form-area .comment-form input[type="text"]:focus,
.comment-form-area .comment-form input[type="email"]:focus,
.comment-form-area .comment-form textarea:focus {
    outline: 0;
    box-shadow: none;
}

.comment-form-area .comment-form input[type="text"] {
    margin-right: 40px;
}

.comment-form-area .comment-form input[type="text"], .comment-form-area .comment-form input[type="email"] {
    width: 47%;
    height: 45px;
    padding-left: 25px;
    margin-bottom: 30px;
    border: 1px solid #e7e7e7;
}

.comment-form-area .comment-form.full input[type="text"],
.comment-form-area .comment-form.full input[type="email"] {
    width: 48%;
}

.comment-form-area .comment-form textarea {
    width: 100%;
    padding-left: 25px;
    padding-top: 25px;
    display: block;
    resize: none;
    margin-bottom: 30px;
    border: 1px solid #e7e7e7;
}

.comment-form-area .comment-form .comment-btn .btn-common {
    height: 55px;
    line-height: 55px;
    border: none;
    box-shadow: none;
    font-family: "Noto Sans", sans-serif;
}

.comment-form-area .comment-form .comment-btn .btn-common:focus {
    border: none;
    box-shadow: none;
}

/*----------------------------------
	11. Partnar Styles
------------------------------------*/
.partners-section {
    padding: 65px;
    background: #ebebeb;
}

.partners-section #parnar_carousel .owl-item img {
    width: auto;
}

/*--------------------------------
	12. Footer Styles
----------------------------------*/
.footer {
    padding: 125px 0 70px 0;
    background: url(/img/mountain-2.jpg) center center;
    background-size: cover;
}

.footer-widget .widget-title {
    margin-bottom: 60px;
}

.footer-widget .widget-title h5 {
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.1444px;
}

.footer-widget ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-widget ul li a {
    font-size: 12px;
    font-size: 15px;
    line-height: 30px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
}

.footer-middle {
    margin-top: 90px;
}

.footer-middle .subscribe-form {
    margin-top: 45px;
}

.footer-middle .subscribe-form input[type="email"] {
    width: 50%;
    height: 40px;
    border: none;
    padding-left: 20px;
    margin-right: 15px;
    font-family: "Open Sans", sans-serif;
}

.footer-middle .subscribe-form input[type="submit"].contact-btn {
    box-shadow: none;
    border: none;
    height: 40px;
    line-height: 40px;
}

.footer-middle .subscribe-form input[type="email"]:focus,
.footer-middle .subscribe-form input[type="email"]:active,
.footer-middle .subscribe-form input[type="submit"]:focus,
.footer-middle .subscribe-form input[type="submit"]:active {
    outline: none;
    box-shadow: none;
}

.footer-social h6 {
    font-size: 15px;
    letter-spacing: 0.135px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 20px;
    color: #fff;
}

.footer-social ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-social ul li {
    font-size: 36px;
    display: inline-block;
    margin-right: 15px;
}

.footer-social ul li a {
    color: #fff;
}

.footer-sub-middle {
    margin-top: 80px;
}

.footer-sub-middle .address-text i.fa {
    float: left;
    margin-right: 20px;
    color: #b5b5b5;
}

.footer-sub-middle .address-text p {
    float: left;
    width: 80%;
    font-size: 13px;
    line-height: 20px;
    margin-top: -5px;
    color: #b5b5b5;
}

.footer-sub-middle .footer-logo {
    margin-top: -10px;
}

.footer-bottom {
    margin-top: 30px;
}

.copyright p {
    font-size: 13px;
    color: #b5b5b5;
}

.copyright p a {
    color: #b5b5b5;
}

/*-------------------------
	13. Icon Styles
-------------------------*/
.glyphicon-2x {
    font-size: 2em;
}

.glyphicon-3x {
    font-size: 3em;
}

.glyphicon-4x {
    font-size: 4em;
}

.glyphicon-5x {
    font-size: 5em;
}